.heading {
    width: 100%;
    text-align: left;

}
.heading button {
    float: right;
    border: 2px solid black;
}
.heading h3 {
    display: inline;
}
.mario_img {
    width: 100%;
}
canvas {
    margin-bottom: 50px;
}
h4 {
    background-color: blue;
    color: whitesmoke;
    margin: 0;
}
.modal-dialog {
    width: 80%;
}
.instruction_img {
    width: 40%;
    display: inline-block;
}
video {
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;

}